<server description="Liberty">
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>transportSecurity-1.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="${httpPort}" httpsPort="${httpsPort}" host="*"/>

    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustStoreRef="defaultKeyStore" />
    <keyStore id="defaultKeyStore" password="passw0rd" location="${server.config.dir}/resources/security/key.p12" />
    
    <quickStartSecurity userName="admin" userPassword="admin" />
</server>
 
